*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.lightgray, .green{
   
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.lightgray{
    background-color: lightgray;
}

.green{
    background-color: lawngreen;
}

